/* styles.css */

.wcc-document-item {
    border-bottom: 1px solid #DDD;
    margin: 20px;
    padding: 10px;

}

.wcc-document-description {
    margin-top: 15px;

}

.wcc-document-effective-date {
    text-align: right;
    font-size: 80%;
    margin-top: 10px;
    color: #666;
}
